input[type="text"], 
button {
    font-family: 'Lato', sans-serif;
}

input[type="text"] {
    color: #333;
    font-style: italic;
}

.card,
input,
input:focus {
    background-color: #f4f4f4;
}

.card-title {
    color: #6c757d;
}